body {
    font: 20px 'Exo 2', sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    z-index: 9999;
    background-color: #00BFFF;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #008ae6 !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

  .fixer{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
  }

  .icon-size{
    font-size: 35px;
  }

  .space{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .videofix{
    height: 100%;
    width: 100%;
  }

  .colorD{
    color:white;
    font-size: 30px;
  }

  .colorD:hover{
    color:lightBlue;
  }

  .modaltop{
    margin-top:30px;
  }

    .modal-backdrop {
    z-index: 100000 !important;
  }

  .modal {
    z-index: 100001 !important;
  }

  .dark{
    color:black;
    font-size: 100%;
  }